#title {
    background-color: #ff4c68;
    color: white;
}

body {
    font-family: "Montserrat";
}

.container-fluid {
    padding: 3% 15% 7%;
}

.meet {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: ubuntu;
    font-size: 2.5 rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2 rem;
}

/* Download Buttons */


.download-button {
    margin: 5% 3% 5% 0%;
}


/* Title Image */

.title-image {
    width: 40%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}


.feature-box {
    text-align: center;
    padding: 5%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}

h3 {
    font-family: "Montserrat";
    font-size: 1.5 rem;
}

/* Headings */

.big-heading {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color: #8f8f8f;
}

.first-icons {
    color: #ef8172;
    margin-bottom: 1rem;
}

.first-icons:hover {
    color: #ff4c68;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    font-family: "Montserrat";
    padding: 100px;
    font-size: 3rem;
    color: #fff;
    background-color: #ff4c68;
    text-align: center;
    line-height: 1.5;
}

#footer{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

.social-media {
    margin: 20px 10px;
}