/****************TAG SELECTORS ****************/
h1{
    color: red;
    font-size: 200px;
}

img:hover{
    background-color: gold;
}

/****************CLASS SELECTORS ****************/

.bacon {
    background-color: green;
}

.circular {
    border-radius: 100%;
}
.brocolli {
    background-color: red;
}

/****************ID SELECTORS ****************/

#heading {
    color: blue;
}